.namer__info {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-bottom: 1px solid rgb(84,84,84, .7);
  padding-bottom: 13px;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  min-width: 238px;
  margin-bottom: 30px;
}

@media screen and (min-width: 1280px) {
  .namer__info {
    font-size: 14px;
    line-height: 17px;
    min-width: 358px;
  }
}